# Secrets & Environment
.env
.env.local
.env.*.local

# Dependency directories
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Simulation / ML Artifacts
*.onnx
*.weights
*.ckpt
server/__pycache__/
server/*.pyc
server/*.pth
